@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.Profile {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
}

@media(max-width: 768px) {
    .Profile {
        flex-direction: column;
    }
}

.Profile_left {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));
    padding: 3rem 2.5rem;
    text-align: center;
    color: #fff;
}

@media(max-width: 768px) {
    .Profile_left {
        width: 100%;
        flex: 100%;
        justify-content: center;
    }
}

.Profile_right {
    width: 65%;
    display: flex;
    flex-direction: column;
    background: rgb(240, 240, 240);
    padding: 3rem 2.5rem;
}

@media(max-width: 768px) {
    .Profile_right {
        width: 100%;
        flex: 100%;
        justify-content: center;
    }
}

.Profile_picture {
    width: 80%;
    border-radius: 5px;
    margin-bottom: 10px;
}