.Homepage {
    width: 100%;
    height: 100%;
    background-color: #191919;
    padding-bottom: 5rem;
}

.Homepage_section {
    padding: 5rem;
    display: flex;
    flex-direction: row;
    background-color: #191919;
    width: 100%;
}

@media(max-width: 600px) {
    .Homepage_section {
        padding: 5rem 2rem;
    }
}

.Homepage_title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 5px;
}

@media(max-width: 480px) {
    .Homepage_title {
        font-size: 1.5rem;
    }
}

.Homepage_text > p {
    font-family: 'Sacramento', cursive;
    margin: 1rem 1rem 1.5rem 1rem;
    color: white;
}

@media(max-width: 480px) {
    .Homepage_text > p {
        font-size: 1.2rem;
    }
}

.Homepage_pic {
    width: 15rem;
    height: 15rem;
}

.Homepage_img {
    width: 100%;
    height: 100%;
}

hr {
    color: #EAF6F6;
    width: 30%;
    border: none;
    border-bottom: 1px solid white;
    margin: 3rem auto 3rem auto;
}

.Homepage_load {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #191919;
    padding: 10rem;
    color: white !important;
}