@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');
.LandingPage {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    overflow-y: scroll;
    scroll-behavior: smooth;

    .heading {
        text-align: center;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);;

        h2 {
            background-clip: text;
            background-image: linear-gradient(-106deg, #fa326f, #f2514c, #f2504d);
            color: #777777;
            -webkit-text-fill-color: transparent;
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            font-size: 5.8rem;
            display: inline-block;
            font-family: 'Poppins', sans-serif;
        }
    }

    .sticky {
        background-color: #fbfbfb;
        box-shadow: 0 11px 27px rgba(0,0,0,.04);
        padding: 14px 0;

        a {
            color: #777777;
        }

        .white {
            color: black !important;
        }

        #logo-white {
            display: none !important;
        }

        #logo-black {
            display: block !important;
        }
    }

    > header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 40px;
        z-index: 10;
        transition: all .4s linear;

        .logo {
            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 40px;

                img {
                    height: 100%;
                }

                #logo-black {
                    display: none;
                }
    
                h1 {
                    margin: 0 0 0 1.5rem;
                    letter-spacing: 3px;
                    font-weight: 700;
                    font-size: 3rem;
                    font-family: 'Carrois Gothic SC', sans-serif;

                    .white {
                        color: white;
                    }

                    .red {
                        color: #F2504D;
                    }
                }
            }
        }

        nav {
            text-align: right;
            width: 97%;
            float: left;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;

                a {
                    text-transform: uppercase;
                    color: white;
                    font-size: 1.4rem;
                    display: block;
                    padding: 8px 0;
                    margin: 0 17px;
                    font-weight: 400 !important;
                    transition: all .4s linear;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;
                }

                a:hover {
                    color: #F2504D;
                }
            }
        }
    }

    > section {
        width: 100%;
        position: relative;
    }

    > .home {
        background-image: url('../../../assets/LandingPage/welcome-bg-0.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;

        .particles {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            #tsparticles {
                height: 100%;
            }
        }

        .introduce {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-top: 200px;

            .absolute {
                position: relative;
                left: 0;
                top: 0;

                h1 {
                    color: white;
                    font-size: 4rem;
                    line-height: 1.5;
                    font-weight: 300;
                    font-family: 'Poppins', sans-serif;
                    text-align: center;
                }
    
                .join {
                    background-color: white;
                    cursor: pointer;
                    padding: 1rem 5rem;
                    background: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));
                    text-align: center;
                    border-radius: 10px;
                    display: inline;
                }
            }
        }

        .wave {
            position: absolute;
            bottom: 0;
        }
    }

    > .feature {
        background-color: #FEFEFE;
        padding: 130px 0;

        .margin-top {
            margin-top: 130px;
        }

        figure {
            position: relative;
            text-align: center;
            display: inline-block;

            img {
                height: auto;
            }

            span {
                position: absolute;
                
                img {
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                }
            }

            .i1 {
                left: 0px;
                top: 163px;
                width: 93px;
            }
        }
    }

    > .team {
        padding: 130px 0;
        background: #F4F4F4;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        background-attachment: fixed;
        height: 100%;

        .margin-top {
            margin-top: 130px;
        }
    }

    footer {
        background: linear-gradient(-106deg, #fa326f, #f2514c, #f2504d);
    }
}

.Join_overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 11;
}