.LandingPage {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;

    .sticky {
        background-color: #fbfbfb;
        box-shadow: 0 11px 27px rgba(0,0,0,.04);
        padding: 18px 0;

        a {
            color: #777777;
        }
    }

    > header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 40px;
        z-index: 10;
        transition: all .4s linear;

        nav {
            text-align: right;
            width: 97%;
            float: left;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;

                a {
                    text-transform: uppercase;
                    color: white;
                    font-size: 1.4rem;
                    display: block;
                    padding: 8px 0;
                    margin: 0 17px;
                    font-weight: 400;
                    transition: all .4s linear;
                    font-family: 'Poppins', sans-serif;;
                }

                a:hover {
                    color: #F2504D;
                }
            }
        }
    }

    > section {
        width: 100%;
        position: relative;
    }

    > .one {
        background-image: url('../../../assets/LandingPage/welcome-bg-0.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;

        .introduce {
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media(max-width: 1200px) {
                height: 630px;
            }

            @media(max-width: 768px) {
                height: 430px;
            }

            > .content {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                flex-grow: 0;

                h1 {
                    color: white;
                    font-size: 4rem;
                    line-height: 1.5;
                    font-weight: 300;
                    font-family: 'Poppins', sans-serif;
                }
            }
        }

        .wave {
            position: absolute;
            bottom: 0;
        }
    }

    > .two {
        background-color: rgb(244, 244, 244);
        height: 100%;
    }

    > .three {
        background-color: blue;
    }
}