.Match_NoItem {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.Match_NoItem-icon {
    font-size: 20rem;
}

.Match_NoItem > h1 {
    font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 4.8rem;
    font-weight: 600;
}