.Match_NoItem {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 100%;
}

.Match_NoItem-icon {
    font-size: 20rem;
}