.Requests_List_Item {
    margin: 1rem;
    /* border: 1px solid; */
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.Requests_List_Item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 768px) {
    .Requests_List_Item {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .Requests_List_Item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.Requests_List_Item-main  {
    margin: 1rem 0;
}

@media screen and (max-width: 768px) {
    .Requests_List_Item-main {
        margin: 0 1rem;
    }
}

.Requests_List_Item-info {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .Requests_List_Item-info {
        margin: 0 1rem;
    }
}

@media screen and (max-width: 600px) {
    .Requests_List_Item-info {
        display: flex;
        flex-direction: row;
        margin: 1rem 0;
    }
}

.ui.buttons {
    margin: 1rem 0;
}

.Requests_List_Item-img {
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 768px) {
    .Requests_List_Item-img {
        flex: 33%;
    }
}

@media screen and (max-width: 600px) {
    .Requests_List_Item-img {
        width: 100%;
        height: 100%;
    }
}

.ui.label {
    font-size: 2rem;
    margin: 1rem 0;
}

.Requests_List_Item-info-label-age {
    font-size: .5rem !important;
}

@media screen and (max-width: 768px) {
    .ui.label {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .ui.label {
        margin: 1rem .5rem;
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 480px) {
    .ui.label {
        margin: 1rem .1rem;
        font-size: 1.2rem;
    }
}

.ui.button, .ui.buttons .button, .ui.buttons .or {
    font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
    .ui.button, .ui.buttons .button, .ui.buttons .or {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .ui.button, .ui.buttons .button, .ui.buttons .or {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .ui.buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .ui.buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}